In [30]:
import pandas as pd
s = pd.Series([10, 20, 30, 40])
print(s)

0    10
1    20
2    30
3    40
dtype: int64

In [31]:
import pandas as pd
data = {'Name': ['Ravi', 'Sita'], 'Marks': [85, 90]}
df = pd.DataFrame(data)
print(df)

   Name  Marks
0  Ravi     85
1  Sita     90

In [32]:
import pandas as pd
s = pd.Series([10, 20, 30], index=['a','b','c'])
print(s)
print("Index labels:", s.index)

a    10
b    20
c    30
dtype: int64
Index labels: Index(['a', 'b', 'c'], dtype='object')

In [33]:
import pandas as pd
s = pd.Series([1, 2, 3], index=['a','b','c'])
print(s.reindex(['c','a','b','d']))

c    3.0
a    1.0
b    2.0
d    NaN
dtype: float64

In [34]:
import pandas as pd
df = pd.DataFrame({'Name':['Ravi','Sita'],'Marks':[85,90]})
print(df.drop(0))  # drop first row

   Name  Marks
1  Sita     90

In [35]:
import pandas as pd
print(df['Name'])
print(df.loc[0])
print(df.iloc[1])

0    Ravi
1    Sita
Name: Name, dtype: object
Name     Ravi
Marks      85
Name: 0, dtype: object
Name     Sita
Marks      90
Name: 1, dtype: object

In [36]:
import pandas as pd
s1 = pd.Series([1,2], index=['a','b'])
s2 = pd.Series([3,4], index=['b','c'])
print(s1 + s2)

a    NaN
b    5.0
c    NaN
dtype: float64

In [37]:
import pandas as pd
s = pd.Series([30,10,20])
print("Ranks:\n", s.rank())
print("Sorted:\n", s.sort_values())

Ranks:
 0    3.0
1    1.0
2    2.0
dtype: float64
Sorted:
 1    10
2    20
0    30
dtype: int64

In [38]:
import pandas as pd
df = pd.DataFrame({'Marks':[85,90,78,92]})
print("Mean:", df['Marks'].mean())
print(df.describe())

Mean: 86.25
           Marks
count   4.000000
mean   86.250000
std     6.238322
min    78.000000
25%    83.250000
50%    87.500000
75%    90.500000
max    92.000000

In [39]:
import numpy as np
df = pd.DataFrame({'Name':['Ravi','Sita','Kiran'],
                   'Marks':[85,np.nan,90]})
print("Original:\n", df)

print("After fillna:\n", df.fillna(0))

Original:
     Name  Marks
0   Ravi   85.0
1   Sita    NaN
2  Kiran   90.0
After fillna:
     Name  Marks
0   Ravi   85.0
1   Sita    0.0
2  Kiran   90.0

In [40]:
import pandas as pd
arrays = [['class1','class1','class2','class2'],
          ['student1','student2','student1','student2']]
index = pd.MultiIndex.from_arrays(arrays)
s = pd.Series([85,90,75,95], index=index)
print(s)

class1  student1    85
        student2    90
class2  student1    75
        student2    95
dtype: int64

In [41]:
import pandas as pd
data = {'Name': ['Ravi','Sita','Kiran'],
        'Maths': [80,90,85],
        'Science': [70,95,88]}
df = pd.DataFrame(data)

df['Average'] = (df['Maths'] + df['Science'])/2
print(df)

    Name  Maths  Science  Average
0   Ravi     80       70     75.0
1   Sita     90       95     92.5
2  Kiran     85       88     86.5

In [42]:
import pandas as pd


data = [10, 20, 30, 40, 50]
series = pd.Series(data)
print("Pandas Series:")
print(series)

Pandas Series:
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [43]:
import pandas as pd
list_data = series.tolist()
print("Series as Python List:", list_data)
print("Type of list_data:", type(list_data))

Series as Python List: [10, 20, 30, 40, 50]
Type of list_data: <class 'list'>

In [44]:
import pandas as pd
import numpy as np
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily',
             'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no',
                'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)
print("DataFrame:")
print(df)

DataFrame:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [45]:
df.loc[df['name'] == 'James', 'name'] = 'Suresh'
print("After changing James to Suresh:")
print(df)

After changing James to Suresh:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d     Suresh    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [46]:
df['age'] = [20, 21, 19, 22, 20, 23, 24, 21, 22, 20]
print("DataFrame after adding 'age' column:")
print(df)

DataFrame after adding 'age' column:
        name  score  attempts qualify  age
a  Anastasia   12.5         1     yes   20
b       Dima    9.0         3      no   21
c  Katherine   16.5         2     yes   19
d     Suresh    NaN         3      no   22
e      Emily    9.0         2      no   20
f    Michael   20.0         3     yes   23
g    Matthew   14.5         1     yes   24
h      Laura    NaN         1      no   21
i      Kevin    8.0         2      no   22
j      Jonas   19.0         1     yes   20

In [47]:
columns_list = df.columns.tolist()
print("List of column headers:", columns_list)

List of column headers: ['name', 'score', 'attempts', 'qualify', 'age']

In [48]:

import pandas as pd
# Creating a Series
data = [10, 20, 30, 40]
series = pd.Series(data, index=['a', 'b', 'c', 'd'])
print(series)

a    10
b    20
c    30
d    40
dtype: int64

In [49]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [24, 27, 22],
    'City': ['Delhi', 'Hyderabad', 'Chennai']
}
df = pd.DataFrame(data)

print(df)

      Name  Age       City
0    Alice   24      Delhi
1      Bob   27  Hyderabad
2  Charlie   22    Chennai

In [50]:
import pandas as pd

s = pd.Series([1, 3, 5, 7, 9], name='numbers')
print("Series:\n", s)

data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'City': ['New York', 'London', 'Paris']}
df = pd.DataFrame(data)
print("\nDataFrame:\n", df)

print("\nAge column:\n", df['Age'])

print("\nPeople older than 28:\n", df[df['Age'] > 28])

Series:
 0    1
1    3
2    5
3    7
4    9
Name: numbers, dtype: int64

DataFrame:
       Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   35     Paris

Age column:
 0    25
1    30
2    35
Name: Age, dtype: int64

People older than 28:
       Name  Age    City
1      Bob   30  London
2  Charlie   35   Paris

In [51]:
import pandas as pd
s = pd.Series([1, 2, 3, 4, 5])
print("Original:\n", s)
print("Multiply by 2:\n", s * 5)
print("addition by 2:\n", s +52)

Original:
 0    1
1    2
2    3
3    4
4    5
dtype: int64
Multiply by 2:
 0     5
1    10
2    15
3    20
4    25
dtype: int64
addition by 2:
 0    53
1    54
2    55
3    56
4    57
dtype: int64